$global_size: 1440px;
$global_padd: 0 80px;
$BG: #fefcf7;
$Fs: 'Fraunces';
$hov-col: #66D2CF;
$dis-col: #E2DEDB;
$DGB: #333D4B;
$def:#F4F1EB;
$DC: #0E8784;
$PO: #FDD6BA;
$Gy: #83888F;
$DGB_dark: #2C343E;
$most_use_ff: 'Barlow',sans-serif;